.profile {
  margin: 0 10%;
}

.profile__title {
  padding-top: 1em;
  padding-bottom: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.profile__title,
.profile__subtitle {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.sliders {
  height: 100%;
  width: 100%;
}

.slider-card {
  display: inline-block;
  gap: 2em;
  height: 4em;
  cursor: pointer;
}

.active-card,
.graphics__image {
  height: 32vh;
}

.active-card {
  border: 3px solid #30d1ff;
}

.graphics__image {
  border: 3px solid transparent;
}

.left-arrow,
.right-arrow {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 38%;
  z-index: 10;
  cursor: pointer;
  opacity: 0.8;
  transition: 250ms;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 1;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.profile__btn {
  margin-top: 2.5em;
  margin-bottom: 3em;
}

@media screen and (min-width: 280px) and (max-width: 540px) {
  .left-arrow,
  .right-arrow {
    position: static;
  }
}
